@using System.Drawing
@using AcTraining.Models

@model string 

<div class="jumbotron">
    <h1>Johannes!</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@Html.Partial("Test", new Customer {FirstName = "Daniel", LastName = "Scherf", Mail = DateTime.Now.ToShortTimeString()})


@Html.ActionLink("Gehe zu Test", "Test", "Home");

@section footer
{
    <h1>@Model</h1>
}
