@Html.ActionLink("Reset Data", "Reset", "api", null, new { @class = "btn btn-warning btn-lg", target = "_blank" })


<div id="index_template">

    <h1 data-bind="text: header">Kunden</h1>
    
    @*<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>*@

    <div data-bind="foreach: customers">

        <div class="panel panel-default pull-left col-md-5 " style="padding:0; margin-right: 20px;">

           @* <img src="http://www.gravatar.com/avatar/1?d=wavatar&f=y" class="img-thumbnail pull-right" />*@
            <img data-bind="attr: { src: $root.getImageData($data) }" class="img-thumbnail pull-right" />
            <div data-bind="text: FirstName" class="panel-heading">Name</div>
            <div class="panel-body">

                <form class="form-horizontal">

                    <div class="form-group">

                        <label class="col-sm-2 control-label">#</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="value: Id">
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="value: FirstName">
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="value: LastName">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <br style="clear: both;">

</div>

@section scripts
{
    <script>
        var model = new CustomerViewModel();
        ko.applyBindings(model, $('#index_template').get(0));
        model.loadData();

        var chatHub = $.connection.chatHub;
        $.connection.hub.start().done(function() {
            console.log("hubs gestartet");

            chatHub.server.send("hallo", "welt");
        });

        chatHub.client.broadcastMessage = function(name, message) {
            console.log(name, message);
        }


    </script>
}
