@Html.ActionLink("Reset Data", "Reset", "api", null, new { @class = "btn btn-warning btn-lg", target="_blank" }) 


<div id="chat_template">
    <h1 data-bind="style: {color: 'blue' }">SignalR Chat</h1>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" data-bind="textInput: name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Message</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" data-bind="textInput: message">
            </div>
        </div>

        <div class="form-group">
            <button class="col-sm-2 btn btn-default" data-bind="click: sendMessage">Send!</button>
        </div>
    </form>

    <h2 data-bind="style: {color: 'blue' }">Messages</h2>
    <ul data-bind="foreach: messages">
        <li>
            <span data-bind="text: name"> </span>:
            <span data-bind="text: message"> </span>
        </li>
    </ul>

</div>

<hr/>

<div id="index_template">

    <h1 data-bind="text: header, style: {color: color }">Kunden</h1>
    <input type="text" data-bind="textInput: header"/>

    <h1 data-bind="style: {color: color}">:-)</h1>

<button data-bind="click: setColor">setColor</button>
    
    <div data-bind="foreach: customers">
        <div class="panel panel-default pull-left col-md-5 " style="padding:0; margin-right: 20px;">

            <img class="img-thumbnail pull-right" data-bind="attr: {src: $root.getImage($data) }"/>
            <div class="panel-heading" data-bind="text: FirstName">Name</div>
            <div class="panel-body">

                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">#</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="value: Id">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">FirstName</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="value: FirstName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">LastName</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="value: LastName">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <br style="clear: both;">

    <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>

</div>

@section scripts {
    <script>
        var model = new CustomerViewModel();
        ko.applyBindings(model, $('#index_template').get(0));
        model.loadData();

        var chatModel = new ChatViewModel();
        ko.applyBindings(chatModel, $('#chat_template').get(0));
    </script>
}