@Html.ActionLink("Reset Data", "Reset", "api", null, new { @class = "btn btn-warning btn-lg", target="_blank" }) 

<div id="index_template">

    <h1 data-bind="text: header, style: { color: color }">Kunden</h1>
    
    <button data-bind="click: setColor">Klick mich</button>
    <button data-bind="click: activeError">Fehler</button>
    
    <div style="color:red;display:none" data-bind="visible: hasError">
        Es ist was schlimmes passiert!
    </div>
      
    <div>
        
        <div class="panel panel-default pull-left col-md-5 " style="padding:0; margin-right: 20px;">

            <img src="http://www.gravatar.com/avatar/1?d=wavatar&f=y" class="img-thumbnail pull-right" />
            <div class="panel-heading">Name</div>
            <div class="panel-body">

                <form class="form-horizontal">

                    <div class="form-group">

                        <label class="col-sm-2 control-label">#</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control">
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
    
    <br style="clear: both;">
    
    <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>

</div>

@section scripts {
    
    <script>
        var model = new CustomerViewModel();
        ko.applyBindings(model, $('#index_template').get(0));

    </script>

}