<div id="index_template">
    
    <h1 data-bind="text: header">Kunden</h1>
    
    <div class="alert alert-danger pull-right " role="alert" data-bind="visible: hasError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Very urgent error!
    </div>

    <div data-bind="foreach: customers">
        
        <div class="panel panel-default pull-left col-md-5 " style="padding:0; margin-right: 20px;">

            <img data-bind="attr:{ src: $root.image($data)  }" class="img-thumbnail pull-right" />

            <div class="panel-heading" data-bind="text: FirstName">Name</div>
            <div class="panel-body">

                <form class="form-horizontal">

                    <div class="form-group">

                        <label class="col-sm-2 control-label">#</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="textInput: Id">
                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-sm-2 control-label">FirstName</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="textInput: FirstName">
                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-sm-2 control-label">LastName</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="textInput: LastName">
                        </div>

                    </div>
                    
                    <div class="form-group">

                        <label class="col-sm-2 control-label">DateOfBirth</label>
                        <div class="col-sm-7">
                            <input type="text" class="datepicker" data-bind="myKendoDatepicker: DateOfBirth, datepickerOptions: { format: 'dd.MM.yyyy' }">
                        </div>

                    </div>

                </form>
            </div>
        </div>

    </div>
    
    <br style="clear: both;">
 
    @Html.ActionLink("Reset Data", "Reset", "api", null, new { @class = "btn btn-warning btn-lg", target = "_blank" })
   
    <!--
    <h4>Debug</h4>
    <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>
    -->


</div>

@section scripts {
    
    <script>
        var model = new CustomerViewModel();
        ko.applyBindings(model, $('#index_template').get(0));
        model.loadData();
    </script>
}