<div id="chat_template">
    
    
    <div id="chat_template">

        <button class="btn btn-info" data-bind="click: toggleChat">Chat starten</button>

        <hr/>

        <div style="display:none" data-bind="fadeVisible: chatActive">

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1">Name</label>
                    <input type="text" data-bind="textInput: name" class="form-control">

                </div>

                <div class="form-group">
                    <label class="col-sm-1">Message</label>
                    <input type="text" data-bind="textInput: message" class="form-control">
                </div>

                <button data-bind="click: sendMessage" class="btn">Send!</button>
            </form>

            <hr />
            <h3>Messages</h3>

            <ul data-bind="foreach: messages" style="height: 100px; overflow-y: scroll ">
                <li>
                    <b data-bind="text: name"></b>:
                    <span data-bind="text: message"></span>
                </li>
            </ul>

        </div>
    </div>

</div>


<div id="index_template">
    
    <h1 data-bind="text: header">Kunden</h1>
    
    <div class="alert alert-danger pull-right " role="alert" data-bind="visible: hasError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Very urgent error!
    </div>
    
    <button class="btn btn-info" data-bind="click: loadData">
        <i data-bind="css: { 'glyphicon-spin' : $root.isSyncing }" class="glyphicon glyphicon glyphicon-refresh"></i> Reload
</button>

    <div data-bind="foreach: customers">
        
        <div class="panel panel-default pull-left col-md-5 " style="padding:0; margin-right: 20px;">

            <img data-bind="attr:{ src: $root.image($data)  }" class="img-thumbnail pull-right" />

            <div class="panel-heading" data-bind="text: FirstName">Name</div>
            <div class="panel-body">

                <form class="form-horizontal">

                    <div class="form-group">

                        <label class="col-sm-2 control-label">#</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="textInput: Id">
                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-sm-2 control-label">FirstName</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="textInput: FirstName">
                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-sm-2 control-label">LastName</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" data-bind="textInput: LastName">
                        </div>

                    </div>
                    
                    <div class="form-group">

                        <label class="col-sm-2 control-label">DateOfBirth</label>
                        <div class="col-sm-7">
                            <input type="text" class="datepicker" data-bind="myKendoDatepicker: DateOfBirth, datepickerOptions: { format: 'dd.MM.yyyy' }">
                        </div>

                    </div>
                    
                    <button type="button" class="btn btn-danger" data-bind="click: $root.deleteCustomer">
                        <i class="glyphicon glyphicon-trash"></i> Delete
                    </button>

                </form>
            </div>
        </div>

    </div>
    
    <br style="clear: both;">
 
    @Html.ActionLink("Reset Data", "Reset", "api", null, new { @class = "btn btn-warning btn-lg", target = "_blank" })
   
 
    <h4>Debug</h4>
    <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>

</div>

@section scripts {
    
    <script>
        var model = new CustomerViewModel();
        ko.applyBindings(model, $('#index_template').get(0));
        model.loadData();

        var chatModel = new ChatViewModel();
        ko.applyBindings(chatModel, $('#chat_template').get(0));

    </script>
}