
<div class="demo-section k-content">
        <div id="chart"></div>
    </div>
<div id="grid"></div>

<input id="datetimepicker"/>
@section scripts
{
    <script>
        $(document).ready(function() {
            var dataSource = new kendo.data.DataSource({
                    type: "odata",
                    transport: {
                        read: {
                            type: 'GET',
                            url: '/odata/Customers',
                            dataType: 'json'
                        }
                    },
                    schema: {
                        data: function (data) {return data.value;},
                        total: function (data) {return data['odata.count'];},
                        model: {
                            id: 'Id',
                            fields: {
                                Id: { type: "number" },
                                FirstName: { type: "string" },
                                LastName: { type: "string" },
                                Mail: { type: "string" },
                                AmountOfOrders: { type: "number" },
                                AmountOfInvoices: { type: "number" }
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                });

            function createChart() {
               
            $("#chart").kendoChart({
                title: {
                    text: "Amount of Orders and Invoices"
                },
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    type: "line"
                },
                dataSource: dataSource,
                series: [{
                    field: "AmountOfOrders",
                    name: "Amount ofOrders"
                }, {
                    field: "AmountOfInvoices",
                    name: "Amount of Invoices"
                }],
                categoryAxis: {
                    field: "FirstName",
                    labels: {
                        rotation: -90
                    },
                    crosshair: {
                        visible: true
                    }
                },
                valueAxis: {
                    field: "AmountOfOrders",
                    labels: {
                        format: "N0"
                    }
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);

            $("#grid").kendoGrid({
                dataSource: dataSource,
                height: 550,
                filterable: true,
                sortable: true,
                pageable: true,
                filterable: {
                            mode: "row"
                        },
                columns: [
                    {
                        field: "Id",
                        title: "ID"
                    },
                    {
                        field: "FirstName",
                        title: "First Name"
                    }, {
                        field: "LastName",
                        title: "Last Name"
                    }, {
                        field: "Mail",
                        title: "Mail"
                    }, {
                        field: "AmountOfOrders",
                        title: "Amount of Orders"
                    }, {
                        field: "AmountOfInvoices",
                        title: "Amount of Invoices"
                    }
                ]
            });
        });

        $("#datetimepicker").kendoDateTimePicker({ value: new Date() });

    </script>
}

